<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>话题列表</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
  <script type="text/javascript"></script>
  <script th:inline="javascript">
    function refreshContent() {

      $.ajax({
        url: "/sendtopic/message",  // 后端提供用于返回要刷新的内容的API接口
        //dataType:"JSON",
        method: "POST",
        data: {
          "like":$("#like").text(),
          "titles":$("#titles").text()
        },
        success: function(response) {
          alert("点赞成功!");
          $("#like").text(response);
        },
        error:function(){
          alert('数据请求失败!');
        },
      });
    }

    const button = document.getElementById('mybutton');
    button.style.border= 0;
    // 修改按钮的背景颜色为绿色
    button.style.backgroundColor = 'white';
  </script>
</head>
<body style="display: flex; justify-content: center; align-items: center;">
<div id="wrap" style=" width: auto;margin: 0 auto;left: 0;top: 10%;margin-left: 0;margin-top: 0;position: relative;" >
  <div id="top_content">
    <div id="header">
      <div id="rightheader">
        <p>
          2023
          <br />
        </p>
      </div>
      <div id="topheader">
        <h1 id="title">
          <a href="#">所有话题</a>
        </h1>
      </div>
      <div id="navigation">
      </div>
    </div>
    <div id="content" style="height: 700px">
      <p id="whereami">
      </p>
      <h1 style="margin-left: 13px">
        欢迎查看话题!
        <!-- 默认取request域，需要从哪个域中取则需要指明 -->
      </h1>

      <form th:action="@{/user/goHome}" method="get">
        <input type="submit" class="button" value="返回主页 &raquo;"  style="cursor: pointer;border: none;background-color: #2c7ccf;border: none;color: white;width: 85px;height: 29px;font-size: 20px;font-family: fangsong;float: right;border-radius: 5px;margin-top: -35px;"  />
      </form>



      <table class="table" style="font-size: 18px;">
        <tr class="table_header">
          <td>
            标题
          </td>
          <td>
            内容
          </td>
          <td>
            点赞数
          </td>
          <td>
            发布者账号
          </td>
          <td>
            发布时间
          </td>
          <td>
            趣点名称
          </td>
          <td>
            操作
          </td>
        </tr>
        <tr th:class="${topicStat.odd}?'row1':'row2'" th:each="topic,topicStat:${topics}">
          <td>
            <span id="titles" th:text="${topic.topic_title}"/>
          </td>
          <td>
            <span th:text="${topic.topic_content}"/>
          </td>
          <td>
            <span id="like" th:text="${topic.topic_likes}"/>
          </td>
          <td>
            <span th:text="${topic.publisher_account}"/>
          </td>
          <td>
            <span th:text="${topic.publish_time}"/>
          </td>
          <td>
            <span th:text="${topic.poi_name}"/>
          </td>
          <td>
<!--            <a th:href="@{/managetopic/delete(topic_title=${topic.topic_title})}">删除该话题</a>-->
<!--            <a th:href="@{/managetopic/find(topic_title=${topic.})}">修改话题信息</a>-->
            <a th:href="@{/comment/c2(title=${topic.topic_title})}">查看评论</a>

            <a th:href="@{/comment/c(title=${topic.topic_title})}">发布评论</a>

            <button id="mybutton" style="border: 0;background-color: white;" onclick="refreshContent()">点赞</button>

          </td>
        </tr>
      </table>

    </div>
  </div>
  <div id="footer">
  </div>
</div>
</body>
</html>
