<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="wrap"   style="width: 820px;" >
  <div id="top_content">
    <div id="header">
      <div id="rightheader">
        <p>
          2023
          <br />
        </p>
      </div>
      <div id="topheader">
        <h1 id="title">
          <a href="#">趣悠游——年轻人的兴趣交流平台</a>
        </h1>
      </div>
      <div id="navigation">
      </div>
    </div>
    <div id="content" style="height: 322px">
      <p id="whereami">
      </p>
      <h1>忘记密码</h1>
      <form th:action="@{/user/forgetpassword}" method="post">


        <table border="0" class="form_table"  style="color: black;font-size: 18px;    margin: 0 auto;" >
          <tr>
            <td valign="middle" align="right" style="color: gray;" >
              账号：
            </td>
            <td valign="middle" align="left">
              <input type="text" id="account" class="inputgri" name="account" required style="background-color: rgba(0, 0, 0, 0);"   >
            </td>
          </tr>
          <tr>
            <td valign="middle" align="right" style="color: gray;" >
              您最喜欢的数字<br>是?(安全问题):
            </td>
            <td valign="middle" align="left">
              <input type="text" id="securityAnswer" class="inputgri"  name="security_answer" required  style="background-color: rgba(0, 0, 0, 0);" >
            </td>
          </tr>

          <tr>

            <td valign="middle" align="left" colspan="2" >
              <input type="submit" value="提交 »"  style="cursor: pointer;background-color: #2cc9cf;border: none;width: 105px;height: 36px;border-radius: 11px;font-size: 18px;color: white;    margin-left: 28%;" >
            </td>
          </tr>

        </table>



<!--        <label for="account">账号：</label>-->
<!--        <input type="text" id="account" name="account" required style="background-color: rgba(0, 0, 0, 0);"   ><br>-->
<!--        <label for="securityAnswer">您最喜欢的数字是?(安全问题)：</label>-->
<!--        <input type="text" id="securityAnswer" name="security_answer" required  style="background-color: rgba(0, 0, 0, 0);" ><br>-->
<!--        -->

      </form>


</body>
</html>