<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>找回密码</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="wrap">
  <div id="top_content">
    <div id="header">
      <div id="rightheader">
        <p>
          2023
          <br />
        </p>
      </div>
      <div id="topheader">
        <h1 id="title">
          <a href="#">趣悠游——年轻人的兴趣交流平台</a>
        </h1>
      </div>
      <div id="navigation">
      </div>
    </div>
    <div id="content">
      <p id="whereami"></p>
      <h1>已经成功将您的密码设置为默认密码！(123456)</h1>
      </table>
    </div>
  </div>
</div>
</body>
</html>
